@charset "UTF-8";

*{
    margin: 0; padding: 0;
    font: normal 15px 'Arial' ;
}

a { text-decoration: none !important;}
img { border: 0; }
ul {list-style: none;}

#container {
    width: 960px;
    /* 중앙정렬 */
    margin: 0 auto;
}

/* 헤더 */
header {
    background-color: gray;
}

nav {
    height: 100px;
}

@media screen and (max-width:767px) {
    section > article {
        float: none;
        /* float기능이 없어짐 */
        width: 100%;
    }
}

    section > article:nth-child(1) {
    background: green;
    height: 500px;
}

    section > article:nth-child(2) {
    background: purple;
    height: 500px;
}