.contents {
    margin: auto 0;
    margin-top: 20px;
}


.contents #form{
border-collapse: separate;
border-spacing: 1px;
text-align: left;
line-height: 1.5;
border-top: 1px solid #ccc;
margin : 20px 10px;
}

.table2 tr {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
.table2 td {
     color: gray;
     width: 100px;
     padding: 10px;
     vertical-align: top;
     border-bottom: 1px solid #ccc;
}

input[type=text] {
  border: 0px;
  height: 30px;
}

textarea{
    border: 0px;
    background-color: rgb(250, 250, 250);
    height: 400px;
}

.btn{
    width:200px;
    background-color: #e2e2e2;
    border: none;
    color:rgb(168, 168, 168);
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius:10px;
    margin-left: 50%;
}

.btn:hover{
    background-color: rgb(212, 212, 212);
}