@charset "utf-8";


.contents iframe {
    width: 430px;
    height: 230px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.contents h4 {
    font-size: 25px;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 50px;
    color: rgb(99, 99, 99);
    border: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.contents iframe:hover {
    transform:scale(1.1)
}

.container{
    display: flex;
    padding-top: 70px;
}

.container_left{
    color: white;
    font-weight: bold;
    font-size: 50px;
    padding-top: 60px;
    padding-right: 10px;
    text-align: left;
    height: 300px;
    width: 70%;
    padding-left: 10px;
    background-color: rgb(0, 5, 53);
}

.container_right{
    color: white;
    font-weight: bold;
    font-size: 50px;
    padding-top: 100px;
    text-align: left;
    height: 300px;
    width: 70%;
    background-color: rgb(255, 245, 217);
    padding-left: 10px;
}

.container_right #icon {
    display: inline-flex;
    margin-left: 40%;
}

.container_right p{
    text-align: center;
}

.container_right a p i{
    font-size: 40px;
    padding-left: 20px;
}

.container_right a p i:hover{
    color: red;
}


 /* 스마트폰 */
@media screen and (max-width: 540px) {
.contents iframe {
        width: auto;
        height: auto;
        margin: auto;
    }
.contents h4 {
        font-size: 20px;
        padding-top: 30px;
        padding-left: 40px;
        padding-bottom: 30px;
    }
    }

/* 태블릿 */
  @media screen and (min-width:541px) {
    /* .contents iframe {
    width: auto;
    height: auto;
    margin: auto; */
}
  } 

  /* pc */
  @media screen and (min-width:1024px) {

  }
