@charset "utf-8";


.gnb {
    overflow: hidden;
    margin: 0 auto;
    /* padding-top: 10px; */
    position: relative;
}

.gnb ul {
    overflow: hidden;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    width: calc(100% - 217px);
}

.gnb ul > li {
    float: left;
    padding: 8px 15px;
    overflow: hidden;
    font-size: 18px;
}

.gnb ul > li a {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.trigger {
    float: right;
    width: 50px;
    text-align: right;
    padding-top: 4px;
    padding-right: 5px;
}